# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyBuilder
target/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.idea/
.mypy_cache/
annuario/*.aux
annuario/*.bak
annuario/*.log
annuario/*.gz

dati/*
rptlab-reportlab-823a8c33ce43/
Sun Ephemeris/

*.bat
*.csv
*.ods*
*.pdf
*.sqlite
1701m.TXT
convenzioni_git.txt
*.xls*

